* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Nolan', 'Helvetica Neue', 'Helvetica', sans-serif;
}
.heading h1 {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: red;
}
.heading {
  width: 100%;
  background-color: #000;
  color: white;
  padding: 1em;
}
.list {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  height: 100vh;
}

.list-item {
  flex-grow: 1;
  height: 50%;
  padding: 1em;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: 50%;
  min-width: 300px;
}

.list-item a {
  font-size: 1.5em;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.5);
  color: red;
  padding: 0.5em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.list-item.power {
  background-image: url(images/power.gif);
}

.list-item.prestige {
  background-image: url(images/prestige.jpg);
}
.list-item.culture {
  background-image: url(images/culture.gif);
  background-size: initial;
  background-repeat: repeat;
}
.list-item.expectations {
  background-image: url(images/expectations.gif);
}
.list-item.values {
  background-image: url(images/values.gif);
}
.list-item.constraints {
  background-color: #000;
}

footer {
  width: 100%;
  background-color: #000;
  color: #fff;
  padding: 5vh 5vw;
  font-size: 0.8em;
}

footer a {
  color: #ff0000;
}

footer .design-communicates {
  margin-bottom: 1em;
}
