body {
  font-family: 'HelveticaNeueLTPro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 30px;
  margin: 0;
}

main {
  display: block;
  max-width: 40em;
  margin: 0 auto;
  padding-left: 5vw;
  padding-right: 5vw;
}

.intro {
  font-size: 1.2em;
}

i {
  font-style: normal;
}

.red {
  transition: color 1.5s ease-in-out;
  -webkit-transition: color 1.5s ease-in-out;
}

.red:hover {
  color: #ff0000;
}

.mark {
  background-color: #fff000;
}

.underline {
  border-bottom: 2px solid #ff0000;
}

.boardroom-background {
  height: 100vh;
  padding-top: 12vh;
  padding-bottom: 12vh;
  padding-left: 12vw;
  padding-right: 12vw;
  background-image: url('boardroom.gif');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

.boardroom-background h1 {
  color: #ff0000;
  font-weight: bolder;
  font-size: 10vw;
}

.boardroom-background h1 a {
  color: #ff0000;
}
