body {
  font-family: 'HelveticaNeueLTPro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 20px;
  margin: 0;
  line-height: 1.5;
}

main {
  display: block;
  max-width: 40em;
  margin: 0 auto;
  padding: 5vh 5vw;
}

.intro {
  font-size: 1.2em;
}

i {
  font-style: normal;
}

blockquote {
  border-left: 3px solid #ff0000;
  padding-left: 1em;
  margin-left: 1em;
}

.red {
  transition: color 1.5s ease-in-out;
  -webkit-transition: color 1.5s ease-in-out;
}

.red:hover {
  color: #ff0000;
}

.mark {
  background-color: #fff000;
}

.underline {
  border-bottom: 2px solid #ff0000;
}

.boardroom-background {
  height: 100vh;
  padding-top: 12vh;
  padding-bottom: 12vh;
  padding-left: 12vw;
  padding-right: 12vw;
  background-image: url('boardroom.gif');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  border-bottom: 20px solid #000000;
}

.boardroom-background h1 {
  color: #ff0000;
  font-weight: bolder;
  font-size: 8vw;
}

.boardroom-background h1 a {
  color: #ff0000;
}

.full.foucault {
  background-color: rgba(0,0,0,0.2);
  background-image: url('foucault.gif');
  background-size: 25%;
  background-position-y: 25%;
  border-top: 20px solid #000000;
  border-bottom: 20px solid #000000;
  background-attachment: fixed;
}

.full.foucault .image-wrapper {
  display: block;
  margin: 0 auto;
  padding: 2em;
  box-sizing: border-box;
  max-width: 850px;
}

.full.foucault .image-wrapper img {
  max-width: 100%;
  box-shadow: 20px 20px;
}
